


/*==========videofile========*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
 }


:root{
    --clr:#222327;
}

.heading{
    color: #444;
    font-size: 41px;
    text-align: center;
    padding: 11px;
}

.container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 15px;
    align-items: flex-start;
    padding: 5px 5%;
}

.container .main-video{
    background: #fff;
    border-radius: 5px;
    padding: 11px;
}



.container .main-video iframe{
    height: 521px;
    width: 901px;
}

.container .main-video .title{
    color: #333;
    font-size: 17px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.container .video-list{
    background: #fff;
    border-radius: 5px;
    height: 521px;
    overflow-y: scroll;
}

.container .video-list::-webkit-scrollbar{
    width: 7px;
}

.container .video-list::-webkit-scrollbar-track{
    background: #ccc;
    border-radius: 51px;
}

.container .video-list::-webkit-scrollbar-thumb{
    background: #666;
    border-radius: 51px;
}

.container .video-list .vid iframe{
    height: 61px;
    width: 100px;
    border-radius: 5px;
}

.container .video-list .vid{
    display: flex;
    align-items: center;
    gap: 15px;
    background: #f7f7f7;
    border-radius: 5px;
    margin: 11px;
    padding: 11px;
    border: 1px solid rgba(0,0,0,.1);
    cursor: pointer;
}

.container .video-list .vid:hover{
    background: #eee;
}

.container .video-list .vid.active{
    background: #2980b9;
}

.container .video-list .vid.active .title{
    color: #fff;
}

.container .video-list .vid .title{
    color: #333;
    font-size: 15px;
}


@media (max-width: 991px){
    .container{
        grid-template-columns: 1.5fr 1fr;
        padding: 11px;
    }
}


@media (max-width: 768px){
    .container{
        grid-template-columns: 1fr;
    }
}

@media (max-width: 401px){
    .container{
        grid-template-columns: 1fr;
    }

    .container .main-video iframe {
        height: 201px;
        width: 321px;
    }
}





/*==========videofile========

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
 }


:root{
    --clr:#222327;
}

.heading{
    color: #444;
    font-size: 41px;
    text-align: center;
    padding: 11px;
}

.container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 15px;
    align-items: flex-start;
    padding: 5px 5%;
}

.container .main-video{
    background: #fff;
    border-radius: 5px;
    padding: 11px;
}



.container .main-video video{
    height: 521px;
    width: 901px;
}

.container .main-video .title{
    color: #333;
    font-size: 23px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.container .video-list{
    background: #fff;
    border-radius: 5px;
    height: 521px;
    overflow-y: scroll;
}

.container .video-list::-webkit-scrollbar{
    width: 7px;
}

.container .video-list::-webkit-scrollbar-track{
    background: #ccc;
    border-radius: 51px;
}

.container .video-list::-webkit-scrollbar-thumb{
    background: #666;
    border-radius: 51px;
}

.container .video-list .vid video{
    width: 100px;
    border-radius: 5px;
}

.container .video-list .vid{
    display: flex;
    align-items: center;
    gap: 15px;
    background: #f7f7f7;
    border-radius: 5px;
    margin: 11px;
    padding: 11px;
    border: 1px solid rgba(0,0,0,.1);
    cursor: pointer;
}

.container .video-list .vid:hover{
    background: #eee;
}

.container .video-list .vid.active{
    background: #2980b9;
}

.container .video-list .vid.active .title{
    color: #fff;
}

.container .video-list .vid .title{
    color: #333;
    font-size: 17px;
}


@media (max-width: 991px){
    .container{
        grid-template-columns: 1.5fr 1fr;
        padding: 11px;
    }
}


@media (max-width: 768px){
    .container{
        grid-template-columns: 1fr;
    }
}

@media (max-width: 401px){
    .container{
        grid-template-columns: 1fr;
    }

    .container .main-video video{
        height: 201px;
        width: 321px;
    }
}


/*====learn-quran=====*/

.container .video-list .large video{
    width: 150px;
    height: auto;
    border-radius: 5px;
}



/*========toutube video gallery========


.main-video{
    position: fixed;
    height: 301px;
    width: 100%;
    background: #222327;*/



.videoo-list{
    padding-top: 305px;
}

body{
   
    align-items: center;
    justify-content: center;
}

.video_container{
    max-width: 801px;
}

.video_container iframe{
    width:100% ;
    height: auto;
    border: rgb(42, 34, 34) 11px solid;
    padding: 5px;
}


.video_container ul{
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    margin: 0 -5px;
}

.video_container ul li{
    list-style: none;
    margin: 0 5px;
}


.video_container ul li a{
    display: flex;
    text-decoration: none;
}
.video_container ul li img{
    width: 100%;
}